<h1 style="text-align:center;">
  <strong>빈강의실 검색기</strong>
</h1>

<div style="text-align:center;">
  <%= link_to '교양과목 검색하기', find_normal_path %>
</div>
<div style="text-align:center;">
  <%= link_to '전공과목 검색하기', find_prof_path %>
</div>
<div style="text-align:center;">
  <%= link_to '교양과목 보기', normals_path %>
</div>
<div style="text-align:center;">
  <%= link_to '전공과목 보기', profs_path %>
</div>
<div style="text-align:center; margin-top:20px;">
  <strong>
    현재시간 : <span id="dpTime"></span>
  </strong>
</div>