<table>
    <thead>
        <tr>
            <th> </th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>1교시</td>
        </tr>
        <tr>
             <td>2교시</td>
        </tr>
        <tr>
             <td>3교시</td>
        </tr>
        <tr>
             <td>4교시</td>
        </tr>
        <tr>
             <td>5교시</td>
        </tr>
        <tr>
             <td>6교시</td>
        </tr>
        <tr>
             <td>7교시</td>
        </tr>
        <tr>
             <td>8교시</td>
        </tr>
        <tr>
             <td>9교시</td>
        </tr>
        <tr>
             <td>10교시</td>
        </tr>
        <tr>
             <td>11교시</td>
        </tr>
        <tr>
             <td>12교시</td>
        </tr>
        <tr>
             <td>13교시</td>
        </tr>
        <tr>
             <td>14교시</td>
        </tr>
        <tr>
             <td>15교시</td>
        </tr>
        <tr>
             <td>16교시</td>
        </tr>
        <tr>
             <td>17교시</td>
        </tr>
        <tr>
             <td>18교시</td>
        </tr>
        <tr>
             <td>18교시</td>
        </tr>
        <tr>
             <td>20교시</td>
        </tr>
        <tr>
             <td>21교시</td>
        </tr>
        <tr>
             <td>22교시</td>
        </tr>
        <tr>
             <td>23교시</td>
        </tr>
        <tr>
             <td>24교시</td>
        </tr>
    </tbody>
</table>