<table style="text-align :center;">
    <thead>
        <tr>
            <th> </th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>1교시<br>09:00 ~ 09:30</td>
            <td></td>
        </tr>
        <tr>
             <td>2교시<br>09:30 ~ 10:00</td>
        </tr>
        <tr>
             <td>3교시<br>10:00 ~ 10:30</td>
        </tr>
        <tr>
             <td>4교시<br>10:30 ~ 11:00</td>
        </tr>
        <tr>
             <td>5교시<br>11:00 ~ 11:30</td>
        </tr>
        <tr>
             <td>6교시<br>11:30 ~ 12:00</td>
        </tr>
        <tr>
             <td>7교시<br>12:00 ~ 12:30</td>
        </tr>
        <tr>
             <td>8교시<br>12:30 ~ 13:00</td>
        </tr>
        <tr>
             <td>9교시<br>13:00 ~ 13:30</td>
        </tr>
        <tr>
             <td>10교시<br>13:30 ~ 14:00</td>
        </tr>
        <tr>
             <td>11교시<br>14:00 ~ 14:30</td>
        </tr>
        <tr>
             <td>12교시<br>14:30 ~ 15:00</td>
        </tr>
        <tr>
             <td>13교시<br>15:00 ~ 15:30</td>
        </tr>
        <tr>
             <td>14교시<br>15:30 ~ 16:00</td>
        </tr>
        <tr>
             <td>15교시<br>16:00 ~ 16:30</td>
        </tr>
        <tr>
             <td>16교시<br>16:30 ~ 17:00</td>
        </tr>
        <tr>
             <td>17교시<br>17:00 ~ 17:30</td>
        </tr>
        <tr>
             <td>18교시<br>17:30 ~ 18:00</td>
        </tr>
        <tr>
             <td>18교시<br>18:00 ~ 18:30</td>
        </tr>
        <tr>
             <td>20교시<br>18:30 ~ 19:00</td>
        </tr>
        <tr>
             <td>21교시<br>19:00 ~ 19:30</td>
        </tr>
        <tr>
             <td>22교시<br>19:30 ~ 20:00</td>
        </tr>
        <tr>
             <td>23교시<br>20:00 ~ 20:30</td>
        </tr>
        <tr>
             <td>24교시<br>20:30 ~ 21:00</td>
        </tr>
    </tbody>
</table>


<a href="/normals"><div style="text-align:center;">교양과목 보기</div></a>
<a href="/profs"><div style="text-align:center;">전공과목 보기</div></a>
<strong><div style="text-align:center; margin-top:20px;">현재시간 : <span id="dpTime"></span></div></strong>