table {
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}

th {
  text-align : center;
}

body {
  /*color:white;*/
  /*background-image: url("http://cfile236.uf.daum.net/image/2076B43F4DA9CA731471F3");*/
  background-repeat: no-repeat;
  background-size:100%;  
}
