<!DOCTYPE html>
<html>
<head>
  <title>빈강의실 검색기</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
  table
  {
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
  }
  th
  {
    text-align : center;
  }
  body
  {
    /*color:white;*/
    /*background-image: url("http://cfile236.uf.daum.net/image/2076B43F4DA9CA731471F3");*/
    background-repeat: no-repeat;
    background-size:100%;  
    
  }
  </style>
  <!--현재시간 찍기-->
  <script type = "text/javascript">
    setInterval("dpTime()",1000);
    function dpTime()
    {
      var now = new Date();
      month = now.getMonth() + 1;
      day = now.getDate();
      hours = now.getHours();
      minutes = now.getMinutes();
      
      if (hours > 12){
      hours -= 12;
      ampm = "오후 ";
      }else{
      ampm = "오전 ";
      }
      if (hours < 10){
      hours = "0" + hours;
      }
      if (minutes < 10){
      minutes = "0" + minutes;
      }
      document.getElementById("dpTime").innerHTML = month + "월 " + day + "일 " + ampm + hours + ":" + minutes;
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
